@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
h1{
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin-top:10%;
}
hr{
    height:2px;
    width: 30px;
    background-color:red;
}
div{
    background-color:whitesmoke;
    height:200px;
    width:600px;
    margin: 8% 25% auto 75%;
    font-size:x-large;
}
.icon{
    margin-top:5%;
}