
  @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@800&display=swap');
.hr{
    height:3px;
    width: 250px;
    background-color:red;
}
h1{
    text-align: center;
}
div{
    background-color:white;
    height: 150px;
    width: 250px;
    float:left;
    margin-top: 60%;
    font-size:large;
    margin-left:30%;
    font-family: 'Geologica', sans-serif;
}
h2{
    text-align: center;
}
.para-one{
    margin-left:300%;
    font-size: large;
    height: 150px;
    width:250px;
}
button{
    background-color:red;
    color: aliceblue;
}
i{
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 100%;
    padding: 10px;
}
p{
    line-height:2;
}
