div{
    background-color:darkgrey;
    height:220px;
    width: 220px;
    float:left;
    margin:10px;
    font-size:small;
    text-align:center;
    font-size:medium;
}
button{
    background-color:crimson;
    color:floralwhite;
    font-size: x-small;
}
h1{
    text-align: center;
}
section{
    margin-left:25%;
}
.icon{
    margin-top:5%;
}